<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/course</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <!-- 配置方言 -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- 显示和格式化sql语句 ,以便于在控制台打印-->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <!-- 配置映射文件 -->
        <!--<mapping class="Dao.CourseEntity"/>-->
        <mapping resource="CourseEntity.hbm.xml"/>
        <mapping resource="CourseEntity.hbm.xml"/>
        <mapping class="Dao.CourseEntity"/>
        <mapping resource="CourseEntity.hbm.xml"/>
        <!-- DB schema will be updated if needed -->
        <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
    </session-factory>
</hibernate-configuration>